/* background-color: #0e0224 !important; */
body {
    overflow-x: hidden;
    background: linear-gradient(to top, #0b031c 8%, #0e0f33 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #f6f6f6 !important;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #0b031c;
    box-shadow: 9px 2px -5px 60px #0000001f;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #0e0f33 !important;
    border-left: 3px solid #1e90ff;
}

.active {
    text-decoration: none;
    color: #fff;
    background: #0e0f33 !important;
    border-left: 3px solid #1e90ff;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
    color: #ffffff;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

@font-face {
    font-family: "sf_title";
    src: url("../fonts/SFUIText-Bold.otf") format("opentype");
}

@font-face {
    font-family: "sf_sub_title";
    src: url("../fonts/SFUIText-Semibold.otf") format("opentype");
}

@font-face {
    font-family: "sf_body";
    src: url("../fonts/SFUIText-Regular.otf") format("opentype");
}

.sf_title {
    font-family: sf_title;
}

.sf_sub_title {
    font-family: sf_sub_title;
}

.sf_body {
    font-family: sf_body;
}

/** color */
.grey {
    color: #57606f
}

.white {
    color: #ffffff
}

.list:hover {
    background: linear-gradient(to right, #221635, #09082000);
    border-radius: 15px;
}

li {
    font-family: sf_body;
}

.btn-info{
    background-color: #8854d0 !important;
    border-color: #a55eea !important;
}

.btn-info:hover{
    background-color: #8854d0 !important;
    border-color: #a55eea !important;
}

.btn-outline-success{
    border-radius: 0px !important;
}

.btn-outline-danger{
    border-radius: 0px !important;
}

.btn-outline-primary{
    border-radius: 0px !important;
}
